﻿<!DOCTYPE html>
<html>
<head>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <title>Angular Tour of Heroes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link href="~/node_modules/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Polyfills -->
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/systemjs.config.js"></script>
    <script>
        //System.import('app/main.js').catch(function(err){ console.error(err); });
        System.import('app/main').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    <my-app>Loading...</my-app>

</body>
</html>